{% comment %} {% extends 'jobs/base.html' %} {% endcomment %}
{% load static %}

{% block parts %}
{% comment %} {% include 'navbar.html' %} {% endcomment %}

	{% comment %} {% block parts %} {% endcomment %}
<!-- Page Container -->

{% comment %} {% for k in jobsprofile %}
 <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> sdsds{{ k.Job }}</p>
         <a href = "{{k.URL}}"> {{ k.URL}} </a>
         </div>
{% endfor %} {% endcomment %}


<div class="container-fluid">


      <div class="row" style="padding-top: 4%; padding-left: 6%">

        <div class="col-sm-8 blog-main">
		
          <div class="blog-post">
              <div class="row">
                        <ul><H1>My pinned List</h1></ul>

                      <div class="col-lg-12">
                        {% for job in jobsprofile %}
                            <div class="list-group">
                                <h2 class="text-left" style="margin: 0px">
                                    <b>{{ job.Job }}</b>
                                </h2>  
				<h3 class="text-left" style="margin: 0px">
                                    <b>{{ job.Company }}</b>
                                </h3>
                                <a href="{{job.URL}}" style="font-size: 14px; color: #1e7e34"><em>{{job.URL}}</em></a>
				<h6 class ="text-left">{{ job.Address }}</h6>
                                <h5 class ="text-left"><b>Deadline:</b>{{ job.Deadline }}</h5>
                                <h6 class = "text-left">{{job.}}
                                {% endfor %}
{% endblock %}
