{% extends 'jobs/base.html' %}

{% load static %}
{##}
{% block title %}
	{{query}}
{% endblock %}

{% block content %}


<div class="container-fluid">


      <div class="row" style="padding-top: 4%; padding-left: 6%">

        <div class="col-sm-8 blog-main">
		
          <div class="blog-post">
              <div class="row">
					{%if categories_count == 0 %}
					<p style= "padding-left: 10px"><small><em><b>Sorry,No results Found! Try something else.</b></em></small></p>
					{%else%}
					<p style= "padding-left: 10px" ><small><em><b> {{jobs_count}} Results found:</b></em> </small></p>
					{%endif%}

                      <div class="col-lg-12">
                        {% for job in jobs_list %}
                            <div class="list-group">
                                <h2 class="text-left" style="margin: 0px">
                                    <b>{{ job.Job }}</b>
                                </h2>  
																<h3 class="text-left" style="margin: 0px">
                                    <b>{{ job.Company }}</b>
                                </h3>
                                <a href="{{job.URL}}" style="font-size: 14px; color: #1e7e34"><em>{{job.URL}}</em></a>
																<h6 class ="text-left">{{ job.Address }}</h6>
                                <h5 class ="text-left"><b>Deadline:</b>{{ job.Deadline }}</h5>
																
							{% if request.user.is_authenticated %}
								
								<form method= 'POST' action = "{% url 'jobs:pinned'%}">
								{% csrf_token%}
									{% comment %} <input type="checkbox" name="pinned" value="pinned"> Pin<br> {% endcomment %}
									<input type ="hidden" name = "number" value={{job.Job_Id}}>
									
								{% if job.flag == False %}	
							<input type="submit" name = "pin" value="Pin">
								{% else %}
								<input type="submit" name = "unpin" value ="Unpin"> 
								{% endif%}
								</form>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog modal-lg">
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  
											<h4 class="modal-title">Pin</h4>
										</div>
										<div class="modal-body">
										<form method="post">
											<textarea rows="4" cols="100" name="message" placeholder="Write your message here">Hi,
											</textarea>
                      </form>
										</div>
										<div class="modal-footer">
										  <a href="#" class="btn btn-default" type="submit"data-dismiss="modal">Send</a>
										  </form>
										</div>
									  </div>
									</div>
								  </div>
									<br>
									<br>


								{% else %}
								<a href="#" data-toggle="modal" data-target="#myModal"><b>Pin after login <!--$ {{ product.message }}--></b></a>
								  <div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">

									  <!-- Modal content-->
									  <div class="modal-content">
										<div class="modal-header">
										  <h4 class="modal-title">Mnoogle account required</h4>
										</div>
										<div class="modal-body">
										  <p>You need to sign-in to pin the post.</p>
										</div>
										<div class="modal-footer">
										<a href="{% url 'account:login'%}" class="btn btn-default">Log-in</a>
										<a href="{% url 'account:custreg'%}" class="btn btn-default">register</a>
										</div>
									  </div>

									</div>
								  </div>
								<br>
								<br>
								<br>
								
								{% endif %}
							
								{% endfor %}

          <!-- /.blog-post -->


        </div>
      </div>

	  </div>

    </div><!-- /.container -->



</div>
</div>
{% endblock %}
