{% extends 'jobs/base.html' %}

{% load static %}
{##}
{% block title %}
	{{query}}
{% endblock %}

{% block content %}


<div class="container-fluid">


      <div class="row" style="padding-top: 4%; padding-left: 6%">

        <div class="col-sm-8 blog-main">
		
          <div class="blog-post">
              <div class="row">
					{%if categories_count == 0 %}
					<p style= "padding-left: 10px"><small><em><b>Sorry,No results Found! Try something else.</b></em></small></p>
					{%else%}
					<p style= "padding-left: 10px" ><small><em><b> {{jobs_count}} Results found:</b></em> </small></p>
					{%endif%}

                      <div class="col-lg-12">
                        {% for job in jobs_list %}

                            <div class="list-group">
                                <h2 class="text-left" style="margin: 0px">
                                    <b>{{ job.Job }}</b>
                                </h2>  
																<h3 class="text-left" style="margin: 0px">
                                    <b>{{ job.Company }}</b>
                                </h3>
                                <p class ="text-left"><a href={{job.URL}} style="font-size: 14px; color: #1e7e34"><em>{{job.URL}}</em></a></p>
																<h6 class ="text-left">{{ job.Address }}</h6>
                                <h5 class ="text-left"><b>Deadline:</b>{{ job.Deadline }}</h5>
								{% if request.user.is_authenticated %}
                {% flag = 1%}
								<a href="#" data-toggle="modal" style="font-size:small"><b> PIN POST </b></a>
								<br><br>

								{% else %}
                {% flag = 0%}
								<a href="#" data-toggle="modal" style="font-size:small"><b>PIN POST AFTER SIGN IN </b></a>
								<br><br>
								{% endif %}
							
								{% endfor %}

          <!-- /.blog-post -->


        </div>
      </div>

	  </div>

    </div><!-- /.container -->



</div>
</div>
{% endblock %}
